.activeNavLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  background-color: #c5273c;

  border-radius: 10px;
  font-size: 22px;
  color: #fff;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  transition: 300ms scale ease;
}

.navLink:hover {
  scale: 1.1;
}

.navigation {
  display: flex;
  align-items: center;

  justify-content: space-between;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  color: rgb(135, 135, 135);
}

.logoText {
  color: #fff;
  font-weight: 500;
  font-size: 32px;
}

.navigationList {
  color: #fff;
  font-size: 22px;
  gap: 20px;
  display: flex;
  height: 100%;
  align-items: center;
}

.userMenuWrapper {
  color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .activeNavLink {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    background-color: #c5273c;
    width: 60px;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
  }

  .navLink {
    width: 60px;
    padding: 4px 10px;
    font-size: 14px;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

    height: 100%;
  }
}
