.contactForm {
  display: flex;
  align-items: center;
  padding-top: 30px;
  flex-direction: column;
}

.addContact {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  font-family: sans-serif;
  opacity: 0.95;
  margin-bottom: 20px;
}

.contactsPage {
  display: flex;
  justify-content: space-around;
}

.contacts {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 30px;
}

.modal {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 20px;
  color: #e91b26;
  background-color: rgba(17, 24, 39, 1);
}

.confirmText {
  font-weight: 700;
  margin-bottom: 20px;
}

.confirmButton {
  font-weight: 700;
  font-size: 14px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgba(156, 163, 175, 1);
}

.confirmButton:hover {
  background-color: rgb(114, 146, 160);
}

.buttons {
  display: flex;
  gap: 20px;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .contactsPage {
    flex-direction: column-reverse;
    align-items: center;
  }
  .addContact {
    font-size: 30px;
  }
}
