.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(31, 41, 55, 1);
  border-radius: 10px;
  width: 480px;
  gap: 30px;
  padding: 50px 10px;
}

.contactInput {
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(55, 65, 81, 1);
  width: 400px;
  height: 35px;
  border-radius: 10px;
  padding: 3px 10px;
}

.submitButton {
  width: 420px;
  height: 40px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  background-color: rgba(156, 163, 175, 1);
  border-radius: 10px;
  margin-top: 30px;
  transition: 300ms background-color ease;
}

.submitButton:hover {
  background-color: rgb(114, 146, 160);
}

.error {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #cc243a;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .contactForm {
    width: 90%;
    padding: 20px;
    align-items: stretch;
  }

  .contactInput {
    width: 95%;
  }

  .submitButton {
    width: 100%;
  }
}
